@import "@/styles/_variables.scss";

.sedes{
    background-image: url("../../public/home_sedes.png");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
  
}

.title{
    font-family: 'Bebas_Neue';
    font-size: 50px;
    padding-top: 1rem;
    color: $orange;
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    justify-items: center;
    row-gap: 2rem;
}

@media screen and (min-width: 1024px){
    .cards{
        grid-template-columns: repeat(4, minmax(300px, 1fr));
    }
}