@import "@/styles/_variables.scss";

.trainers{
    background-image: url("../../public/home_entrenadores.png");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
  
}
.title{
    font-family: 'Bebas_Neue';
    font-size: 100px;
    padding-top: 1rem;
    color: $white;
    padding-left: 1rem;
}
.cards{
    display: flex;
    overflow-x: auto;
    column-gap: 1rem;
    margin: auto;
    justify-items: center;
}
.color_orange{
    color: $orange;
}
    
@media screen and (min-width: 1024px){
    .cards{
        display: grid;
        grid-template-columns: repeat(4, minmax(300px, 1fr));
    }
}