@import "@/styles/_variables.scss";

.trainers{
    background-image: url("../../public/home_entrenadores.png");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
  
}
.title{
    font-family: 'Bebas_Neue';
    font-size: 100px;
    padding-top: 1rem;
    color: $white;
    padding-left: 1rem;
}
.cards{
    display: flex;
    overflow-x: auto;
    column-gap: 1rem;
    margin: auto;
    justify-items: center;
}
.color_orange{
    color: $orange;
}
    
.heading{
    display: flex;
    justify-content: space-between;
    color: $white;   
    background-color: rgba(0, 0, 0, .4);
    padding: 0.5rem 3rem;
}
    
.heading_nav{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    gap:30px;
    width: 100%;
    left: 0;
    bottom: 30%;
    font-size: 'Montserrat';
    position: absolute;
}

.heading_button{
    //width: 11rem;
    height: 3rem;
    font-family: 'Montserrat';
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 4px;
    gap: 10px;
    background-color: $orange;
    color: $white;
    cursor: pointer;
    border: none;
    text-decoration: none;
}
.heading_nav a{
    color: $white;
    text-decoration: none;
    border-bottom: 1px solid $white;
    font-family: 'Montserrat';
}

.heading_nav a:hover{
    color: $orange;
    border-bottom: 1px solid $orange;
}
    
.heading_nav a:focus{
    color: $orange;
    border-bottom: 1px solid $orange;
}   

.burger_button{
    border: none;
    background-color: transparent;
}
.hidden{
    visibility: hidden;
}

.flex{
    display: flex;
}
    
.none{
    display: none;
}

@media screen and (min-width: 1024px){
    .cards{
        display: grid;
        grid-template-columns: repeat(4, minmax(300px, 1fr));
    }

    .heading_nav{
        flex-direction: row;
        font-size: 18px;
        gap:0;
        left: 50%;
        display:flex;
        position: static;  
    }
    
    .heading_nav a{
        padding: 1rem;
    }

    .burger_button{
       display: none;
    }
}