@import "@/styles/variables.scss";

.adminDashboard{
    display: flex;
    flex-direction: column;
}
.menu{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px,1fr));
    column-gap: 3rem;
    row-gap: 2rem;
}

.menu_article{
    width: 300px;
    height: 80px;   
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .4);
}

.trainers{
    background-color: $orange;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.trainers_button{
    background-color: $white;
}

.activities{
    background-color: $white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}
.activities_button{
    background-color: $orange;
    color: $white;
}

.title{
    text-align: center;
}

@media screen and (min-width: 1024px){
    .adminDashboard{
        display: grid;
        grid-template-columns: repeat(2, minmax(500px,1fr));
    }
}