@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/Manrope/Manrope.ttf') format('truetype');
}

@font-face {
  font-family: 'SfProDisplay';
  src: url('../public/fonts/SfProDisplay/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
  font-weight: 300;
}
