@import '@/styles/variables';

.card {
  min-width: 215px;
  min-height: 250px;
  border: 1px solid $orange; 
  border-radius: 11px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 60px;
  padding: 14px;
  color: $white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;

  .image {
    border-radius: 11px;
    width: 187px;
    height: 128px;
    object-fit: cover;
    object-position: center;
  }

  .data {
    display: flex;
    flex-direction: column; 

    .name {
      margin-top: 5px;
      display: flex;
      justify-content: space-between;

      .trash {
        cursor: pointer;
      }

      h2 {
        font-weight: 600;
        font-size: 16px;
        text-transform: capitalize;
      }

    }

    .metadata {
      span {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 5px;       

        .icon {
          flex-shrink: 0;
        }
        
        p {
          width: fit-content;
          padding: 0 ;
        }
      }

      .trainer {
  
      }
    }

  }
}