@import "@/styles/_variables.scss";

.aside {
  width: 277px;
  background-color: $white;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: none;
  border-radius: 10px;

  @media screen and (min-width: $lg) {
    display: flex
  }

  .others {
    margin-top: 100px;

  .list {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    list-style-type: none;
    margin: 0 auto;
    gap: 1rem;

    .item {
      color: $opaque-gray;
      border-radius: 5px;
      
      .icons {
        width: 30px;
        height: fit;
        margin-right: 15px;
        color: black;
      }
      
      .exit, .link {
        display: flex;
        align-items: center;
        padding: 10px;
        font-family: 'Montserrat';
        text-decoration: none;
        color: $opaque-gray;
        line-height: 1.5;

        p {
          margin: 0;
          display: inline-block;
        }
      }

      &:hover {
        background-color: $orange;
        color: $white;

        .icons {
          color: white;
        }

        .link {
          color: $white;
        }
      }

      &.active {
        background-color: $orange;
        color: $white;

        .icons {
          color: white;
        }

        .link {
          color: $white;
        }
      }
    }
  }
  }

}


.exit {
  cursor: pointer;
}

