@import "@/styles/_variables.scss";

.homepage{
    background-image: url("../public/landingpage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    color: $white;

    .heading{
        display: flex;
        justify-content: space-between;
        color: $white;   
        background-color: rgba(0, 0, 0, .4);
        padding: 0.5rem 3rem;

        .heading_nav{
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 20px;
            gap:30px;
            width: 100%;
            left: 0;
            bottom: 30%;
            font-size: 'Montserrat';
            position: absolute;

            .heading_nav a{
                color: $white;
                text-decoration: none;
                border-bottom: 1px solid $white;
                font-family: 'Montserrat';
            }
            
            .heading_nav a:hover{
                color: $orange;
                border-bottom: 1px solid $orange;
            
            }
            
            .heading_nav a:focus{
                color: $orange;
                border-bottom: 1px solid $orange;
            }    
          }

        .heading_button{
            width: 11rem;
            height: 3rem;
            font-family: 'Montserrat';
            padding: 0.5rem 2rem 0.5rem 2rem;
            border-radius: 4px;
            gap: 10px;
            background-color: $orange;
            color: $white;
            cursor: pointer;
            border: none;
        }

        .burger_button{
            border: none;
            background-color: transparent;
        }
    }
    
    
    .main{
        background-color: rgba(0, 0, 0, .4);
        height: 100%;

        .main_button{
            width: Fill (200px);
            height: Hug (52px);
            padding: 0.5rem 3rem 0.5rem 3rem;
            border-radius: 4px;
            gap: 10px;
            font-family: 'Bebas_Neue';
            font-size: 24px;
            background-color: $orange;
            color: $white;
            cursor:pointer;
            border: none;
            margin-top: 0.5rem;
        }
        
        .main_article{
            padding:70px;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            top: 229px;
            left: 80px;
            gap: 125px;

            .main_article_text{
                font-family: 'Bebas_Neue';
                flex: 0 0 50%;
                gap: 15px;
                flex-direction: column;

                .main_article_text h1{
                    font-size: 32px;
                }
                .main_article_text h5{
                    font-family: 'Montserrat';
                    font-size: 12px;
                }
            }
            
            .main_article_image{
                max-width: 100%;
                height: auto;
                bottom: 0;
                right: 0;
            }
        } 
        
    }
    
    .color_orange{
        color: $orange;
    }
    
    .hidden{
        visibility: hidden;
    }
    
    .flex{
        display: flex;
    }
    
    .none{
        display: none;
    }
}


@media screen and (min-width: 860px){
    .heading_nav{
        flex-direction: row;
        font-size: 18px;
        gap:0;
        left: 50%;
        display:flex;
        position: static;

        .heading_nav a{
            padding: 1rem;
        }
    }
    
    .burger_button{
       display: none;
    }

    
    .main_article{
        flex-direction: row;
        display:flex;
        visibility: visible;

        .main_article_text h1{
            font-size: 54px;
        }
        .main_article_text h5{
            font-size: 16px;
        }
    }
    
}
