@import "@/styles/variables.scss";

.header {
  width: 100%;
  font-family: 'Montserrat';

  .user {
    width: 100%;
    height: fit-content;
    
    .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      
      .logo {
        scale: .3;
        color: white;
      }

    }

    .burger {
      color: white;
    }

    .data {
      color: $white;
      display: flex;

      h4 {
        font-family: 'Manrope';
        display: none;
      }

      small {
        opacity: .5;
        display: none;
      }

      span {
        display: flex;
        flex-direction: column;
      }
    }
    .alert {
      color: $white;
      display: none;
    }

    .picture {
      display: flex;
    }

  }

  .menu {
    display: flex; 
    gap: 10px;

    .burger {
      width: 48px;
      height: 48px;
    }
  }
}

@media (min-width: $lg) {
  .header {
    display: flex;
    padding: 30px;
    width: 100%;
    justify-content: space-around;
    .burger, .logo {
      display: none;
    }
  
    .user {
      order: 2;
      width: fit-content;
      white-space: nowrap;
      
      .icons {
        width: fit-content;

        .alert {
          display: inline-block;
          margin-left: 20px;
        }
      }

      .data {
        h4, small {
          display: inline-block;
        }
      }
    }

    .menu {
      order: 1;
      width: 650px;
    }
  }
}

.active_menu {
  width: 100vw;
  position: absolute;
  top: 100px;
  left: 0;
  background-color: $black;

  .list {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    list-style-type: none;
    margin: 0 auto;
    gap: 1rem;

    .item {
      color: $opaque-gray;
      border-radius: 5px;
      
      .icons {
        width: 30px;
        height: fit;
        margin-right: 15px;
        color: black;
      }
      
      .exit, .link {
        display: flex;
        align-items: center;
        padding: 10px;
        font-family: 'Montserrat';
        text-decoration: none;
        color: $opaque-gray;
        line-height: 1.5;

        p {
          margin: 0;
          display: inline-block;
        }
      }

      &:hover {
        background-color: $orange;
        color: $white;

        .icons {
          color: white;
        }

        .link {
          color: $white;
        }
      }

      &.active {
        background-color: $orange;
        color: $white;

        .icons {
          color: white;
        }

        .link {
          color: $white;
        }
      }
    }
  }

  span {
    font-weight: 600;
    font-family: 'Montserrat';
    color: $white;
    padding: 20px;
    text-align: center;

    .icon {
      border: 1px solid $orange; 
      padding: 3px;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px;     
    }
  }

  @media (min-width: $lg) {
    display: none;
  }
}